.browsehappy {
  margin: 0.1em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0px;
  padding-left: 10%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  color: #2d2d2d;
  background-color: #36495e;
}
.container {
  width: auto; /* set so that container uses full width of screen*/
  margin-right: 10%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #bed6dd;
}


.header {
  border-bottom: 3px solid #e5e5e5;
  margin-bottom: 10px;
  background-color: #36495e;
  color:#FFFFFF;
}

#title-container {
  width: auto; /* set so that container uses full width of screen*/
  margin-right: 10%;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #36495e;
}

#title-container h1 {
  font-weight: 700;
}
#title-container small {
  color: #aeb5ba;
}

#navbar {
  background-color: #36495e;
  font-size: 1.2em;
  color: #FFFFFF;
}

.navbar-header li:hover {
  background-color: #5885a3;
  color: #FFFFFF;
}

/* Custom page footer */
#footer-container {
  padding-top: 19px;
  background-color: #36495e;
  border-top: 3px solid #e5e5e5;
  width: auto; /* set so that container uses full width of screen*/
  margin-right: 10%;
  padding-left: 15px;
  padding-right: 15px;
  color: #FFFFFF;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
