
.toggle-text {
	padding-left: 10px;
}
input {
    text-align: right;
}
.row {
  padding-bottom: 3px;
}

.rzslider {
  margin-top: 15px;
  margin-bottom: 40px;
}

.rzslider span.rz-bar.rz-selection {
  background-color: #eddc2a;
}
.rzslider span.rz-bubble {
  top: 10px;
  font-size: 12px;
}

.rzslider span.rz-pointer-min {
  background-color: #05416b;
}
.custom-slider.rzslider .rz-pointer {
  width: 16px;
  height: 16px;
  top: auto; /* to remove the default positioning */
  bottom: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.custom-slider.rzslider .rz-pointer:selected {
  display: none;
  background-color: #05416b;
}
.custom-slider.rzslider .rz-pointer:after {
  display: none;
}