button.button-add-new {
    color: #ffffff;
    font-size: 20px;
    background: transparent;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button.button-add-new span{
    padding-left: 20px;
    background: url(/images/icons/glyphicons-433-plus.png) no-repeat 0 0px;
}

button.button-inline-ok {
    color: #ffffff;
    font-size: 20px;
    background: transparent;
    text-decoration: none;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */

}

button.button-inline-ok span{
    background: url(/images/icons/glyphicons-207-ok.png) no-repeat 0 0px;
}

button.button-inline-cancel {
   color: #ffffff;
    font-size: 20px;
    background: transparent;
    text-decoration: none;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */

}

button.button-inline-cancel span{
    padding-left: 36px;
    background: url(/images/icons/glyphicons-208-remove.png) no-repeat 0 0px;
}

button.button-inline-edit {
   color: #ffffff;
    background: transparent;
    text-decoration: none;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */

}

button.button-inline-edit span{
    padding: 5px;
    background-size: cover;
    background-position: center;
    background: url(/images/icons/glyphicons-31-pencil.png) no-repeat 0 0px;
}

button.button-inline-delete {
    color: #ffffff;
    font-size: 20px;
    background: transparent;
    text-decoration: none;
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */

}


button.button-inline-delete span {
    padding:5px;
    background-image: url(/images/icons/glyphicons-17-bin.png);
}

button.button-future:hover {
 background: transparent;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

button.button-future:active {
background-image: -moz-linear-gradient(top, #dbdbdb, #ffffff);
background-image: -webkit-gradient(linear,left top,left bottom,
    color-stop(0, #dbdbdb),color-stop(1, #ffffff));
filter: progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#dbdbdb', EndColorStr='#ffffff');
-ms-filter: "progid:DXImageTransform.Microsoft.gradient
    (startColorStr='#dbdbdb', EndColorStr='#ffffff')";
text-shadow: 0px -1px 0 rgba(255, 255, 255, 0.5);
margin-top: 1px;
}

#diversification {
	width: 70%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 1.5em;
    border-collapse: collapse;
}

#diversification td, #diversification th {
    border: 1px solid #ddd;
    padding: 8px;
}

#diversification tr:nth-child(even){background-color: #f2f2f2;}

#diversification tr:hover {background-color: #ddd;}

#diversification th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.display-amounts {
	 text-align: right;
}
.div-all-total {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: bold;
}