.diversification {
	width: 100%;
	font-size: 1.0em;
    border-collapse: collapse;
    background-color: #eaeeef;
}

.diversification td, .diversification th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*.diversification tr:nth-child(even){background-color:#cccfd1;}*/

.diversification tr:hover {background-color: #fff;}

.diversification th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #05416b;
    color: white;
}

.display-amounts {
	 text-align: right;
}
.div-all-total {
	font-weight: bold;
    background-color: #bccbd6;
}

h3.horizontal-divider{
  overflow: hidden;
  text-align: center;
}
h3.horizontal-divider:before,
h3.horizontal-divider:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 90%;
}
h3.horizontal-divider:before {
    right: 0.5em;
    margin-left: -98%;
}
h3.horizontal-divider:after {
    left: 0.5em;
    margin-right: -2%;
}

/* UI-Grid */
.grid {
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    font-family: 'Roboto Condensed', sans-serif;
}

