.nav {
    background-color: $color-grey-dark-3 !important;    
}

.navigation {
    position: relative;
    &__header {
        position: absolute;
        width:10%;
    }
    &__logo-img {
        color: $color-white;
        margin-left: 3rem;
        max-height: 10rem; 
        max-width: 20rem;
    }

    &__navbar-left {
        display: block;
        margin-left: 30rem;
        margin-top: 1rem;
        margin-bottom:1rem;
    }

    &__navbar-right {
        display: block;
        margin-right: 3rem;
    }
}
.navbar-left{
    position: relative;
}
