<div ng-controller="FIRECalcCtrl as vm" id="firecalc-view-container" class="container-fluid">
  <div ng-init="vm.displayNetWorth()" name="drawGraph"></div>
    <div class="row">
      <div class="col-md-12">
        <h3>Financial Independence Calculator</h3>
        <br/>
      </div>
    </div>
  <div class="row">
    <highchart id="nw-chart" config="vm.chart" ></highchart>
  </div>
    <div class="row">
    <div class="col-md-6">
      <p>Net Worth @ Retirement <input type="text" value="Future Net Worth" ng-model="vm.futureNetWorth" disabled class="pull-right" size="15"></p>
    </div>
    <div class="col-md-6">
      <p>Projected Income in Retirement <input type="text" value="FI income" ng-model="vm.FIincome" ng-change="vm.displayNetWorth()" disabled class="pull-right" size="9"></p>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
    <div class="col-md-3">
      <p>Current Net Worth </p>
    </div>
    <div class="col-md-3">
      <span class="toggle-text"><small>Historical data</small></span>
      <div class="btn-group pull-right" id="hist-data-toggle">
        <label class="btn btn-primary btn-sm" ng-model="vm.useCalculatedData" uib-btn-radio="true" ng-change="vm.displayNetWorth()">On</label>
        <label class="btn btn-primary btn-sm" ng-model="vm.useCalculatedData" uib-btn-radio="false" ng-change="vm.displayNetWorth()">Off</label>
      </div>
    </div>
     <div class="col-md-6">
      <p>Expected Annual Income <input type="text" value="Income" ng-model="vm.incomePerYear" ng-change="vm.displayNetWorth()" class="pull-right" size="9"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <rzslider rz-slider-model="vm.netWorth" rz-slider-options="vm.nwSlider.options" ng-hide="vm.useCalculatedData" class="custom-slider"></rzslider>
      <rzslider rz-slider-model="vm.histNetWorth" rz-slider-options="vm.nwSlider.options" ng-hide="!vm.useCalculatedData" class="custom-slider"></rzslider>
    </div>
    <div class="col-md-1">
      <input type="text" value="Net worth" ng-hide="!vm.useCalculatedData" ng-model="vm.histNetWorth" ng-change="vm.displayNetWorth()" class="pull-right" size="9">
      <input type="text" value="Net worth" ng-hide="vm.useCalculatedData" ng-model="vm.netWorth" ng-change="vm.displayNetWorth()" class="pull-right" size="9">
    </div>
    <div class="col-md-6">
      <rzslider rz-slider-model="vm.incomePerYear" rz-slider-options="vm.annualPaymentSlider.options" class="custom-slider"></rzslider>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Years to Independence<input type="text" value="Years" ng-model="vm.numberOfYears" ng-change="vm.displayNetWorth()" class="pull-right" size="9"></p>
    </div>
    <div class="col-md-6">
      <p>Expected Annual Income Growth <input type="text" value="Income Growth" ng-model="vm.incomeGrowth" ng-change="vm.displayNetWorth()" class="pull-right" size="9"></p>
    </div>

  </div>
  <div class="row">
    <div class="col-md-6">
      <rzslider rz-slider-model="vm.numberOfYears" rz-slider-options="vm.yearSlider.options" class="custom-slider"></rzslider>
    </div>
    <div class="col-md-6">
      <rzslider rz-slider-model="vm.incomeGrowth" rz-slider-options="vm.percentSlider.options" class="custom-slider"></rzslider>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <p>Projected Annual Return </p>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-2">
      <span class="toggle-text"><small>Historical ROI</small></span>
      <div class="btn-group" id="hist-roi-toggle">
        <label class="btn btn-primary btn-sm" ng-model="vm.useHistoricalROI" uib-btn-radio="true" ng-change="vm.displayNetWorth()">On</label>
        <label class="btn btn-primary btn-sm" ng-model="vm.useHistoricalROI" uib-btn-radio="false" ng-change="vm.displayNetWorth()">Off</label>
      </div>
    </div>
    <!--
    <div class="col-md-2">
      <div class="btn-group" id="compound-monthly-toggle">
        <label class="btn btn-primary btn-sm" ng-model="vm.compoundMonthly" uib-btn-radio="true" ng-change="vm.displayNetWorth()">On</label>
        <label class="btn btn-primary btn-sm" ng-model="vm.compoundMonthly" uib-btn-radio="false" ng-change="vm.displayNetWorth()">Off</label>
        <span class="toggle-text"><small>Compound monthly</small></span>
      </div>
     </div>
   -->
    <div class="col-md-6">
      <p>Expected Monthly Expense <input type="text" value="Expense" ng-model="vm.expensePerMonth" ng-change="vm.displayNetWorth()" class="pull-right" size="9"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <rzslider id="annual-return-slider" rz-slider-model="vm.annualReturn" rz-slider-options="vm.percentSlider.options" ng-hide="vm.useHistoricalROI" class="custom-slider"></rzslider>
      <rzslider id="annual-return-slider" rz-slider-model="vm.histROI" rz-slider-options="vm.percentSlider.options" ng-hide="!vm.useHistoricalROI" class="custom-slider"></rzslider>
    </div>
    <div class="col-md-1">
      <input type="text" value="Projected Annual Return" ng-hide="vm.useHistoricalROI" ng-model="vm.annualReturn" ng-change="vm.displayNetWorth()" class="pull-right" size="9">
      <input type="text" value="Projected Annual Return" ng-hide="!vm.useHistoricalROI" ng-model="vm.histROI" ng-change="vm.displayNetWorth()" class="pull-right" size="9">
    </div>
    <div class="col-md-6">
      <rzslider rz-slider-model="vm.expensePerMonth" rz-slider-options="vm.monthlyPaymentSlider.options" class="custom-slider"></rzslider>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>FI Withdrawal Rate  <input type="text" value="withdrawal rate" ng-model="vm.withdrawalRate" ng-change="vm.displayNetWorth()" class="pull-right" size="9"></p>
    </div>
    <div class="col-md-6">
      <p>Expected Annual Expense Growth  <input type="text" value="Expense Growth" ng-model="vm.expenseGrowth" ng-change="vm.displayNetWorth()" class="pull-right" size="9"></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <rzslider rz-slider-model="vm.withdrawalRate" rz-slider-options="vm.withdrawalRateSlider.options" class="custom-slider"></rzslider>
    </div>
    <div class="col-md-6">
      <rzslider rz-slider-model="vm.expenseGrowth" rz-slider-options="vm.percentSlider.options" class="custom-slider"></rzslider>
    </div>
  </div>
 <!--
  <div class="row">
     <div class="col-md-2"></div>
    <div class="col-md-3">
      <p class="input-group">
        <input id="datepicker" type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.yearEndDate" is-open="vm.popup1.opened" datepicker-options="vm.dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click=" vm.open1()"><i class="glyphicon glyphicon-calendar" size="9"></i></button>
        </span>
      </p><p class="toggle-text" >Fiscal year end</p>
    </div>
  </div>
-->
      <br/>
      <br/>
      <br/>
    </div>
  </div>

</div>
