<div ng-controller="PortfolioEntryCtrl as vm">

  <div ng-init="vm.getData()" name="loadPortfolio">
  <h1>Portfolio Breakdown</h1>
    <div id="diversification">
    <table>

      <thead>
        <th>Asset Class</th>
        <th>Amount ($)</th>
        <th>Percentage (%)</th>
      </thead>
      <tbody>
        <tr ng-repeat="item in vm.classTotals">
          <td>{{item.class}}</td>
          <td class="display-amounts">{{item.total}}</td>
          <td class="display-amounts">{{item.percentage}}</td>
        </tr>
        <tr><td> </td><td></td><td></td></tr>
        <tr class="div-all-total">
          <td>Total</td>
          <td class="display-amounts">{{vm.totalAssets}}</td>
          <td class="display-amounts">100</td>
        </tr>
      </tbody>
    </table>
  </div>
  <br/>
  <br/>
  <span id="asset-label"><h2>Assets</h2></span>
  <div id="assets-top-menu" class="btn-group btn-group-lg" role="group" aria-label="Button group with nested dropdown">
    <div class="btn-group btn-group-lg" role="group">
      <button id="btnGroupDrop-asset-groupby" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Group By  <span class="glyphicon glyphicon-chevron-down"></span></button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <button class="dropdown-item" type="button">Group by Class</button>
        <button class="dropdown-item" type="button">Group by Geography</button>
      </div>
    </div>
    <div class="btn-group btn-group-lg">
      <button id="btnGroupDrop-asset-export" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export  <span class="glyphicon glyphicon-chevron-down"></span></button>
      <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
        <button class="dropdown-item" type="button">Export to CSV</button>
        <button class="dropdown-item" type="button">Export to PDF</button>
      </div>
    </div>
  </div>

  <br/>
  <br/>

  <div id="assetGrid" ui-grid="vm.gridOptions" ui-grid-grouping ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-auto-resize class="grid"></div>
  <br/>
  <div class="expand-input-button">
      <h3 class="horizontal-divider"><button id="btn-formShowHide" type="button" class="btn btn-primary btn-sm" ng-click="addNew = !addNew"><span class="glyphicon glyphicon-plus"></span></button></h3>
  </div>
  <div class="asset-input-form">
      <div id="assetInputForm" ng-submit="vm.submitAssets()" ng-hide="addNew">
      <br/>
        <div class="dropdown">Asset type:
          <button class="btn btn-default dropdown-toggle" type="button" id="assetclassdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{vm.entry.class}}
                <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="assetclassdropdown">
                <li ng-repeat="class in vm.assetclasses"><a ng-click="vm.classSelected(class)">{{class}}</a></li>
            </ul>
        </div>
        <br/>
        <form name="assetInputForm" sf-schema="vm.schema" sf-form="vm.form" sf-model="vm.entity" ng-submit="vm.submitAssets(assetInputForm)"></form>

        <!--
        <button class="btn btn-success" ng-click="vm.submitAssets(vm.form)">Submit</button>
        <button class="btn btn-primary" ng-click="vm.submitAssets(vm.form,next=true)">Submit and add another</button>
        <button class="btn btn-danger" ng-click="vm.resetEntry()">Cancel</button>
      -->
        <p>{{vm.entry.class}}</p>
    </div>
    <br/>
    <br/>
  </div>

    </div>

</div>
