<div ng-controller="PortfolioEntryCtrl as vm" id="portfolio-view-container" class="container">
  <div ng-init="vm.getData()" name="loadPortfolio">
  <h1>Portfolio Breakdown</h1>
    <div class="row" >
      <div class="col-md-6">
        <table id="diversification">
          <thead>
            <th>Type</th>
            <th>Amount ($)</th>
            <!--<th>Percentage (%)</th>-->
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.assetTotals">
              <td>{{item.type}}</td>
              <td class="display-amounts">{{item.total}}</td>
            </tr>
            <tr><td> </td><td></td></tr>
            <tr class="div-all-total">
              <td>Total assets</td>
              <td class="display-amounts">{{vm.totalAssets}}</td>
             <!-- <td class="display-amounts">100</td> -->
            </tr>
            <tr><td> </td><td></td></tr>
             <tr ng-repeat="item in vm.debtTotals">
              <td>{{item.type}}</td>
              <td class="display-amounts">{{item.amount}}</td>
            </tr>
             <tr class="div-all-total">
              <td>Total liabilities</td>
              <td class="display-amounts">{{vm.totalDebt}}</td>
            </tr>
            <tr><td> </td><td></td></tr>
             <tr class="div-all-total">
              <td>Net worth</td>
              <td class="display-amounts">{{vm.totalAssets - vm.totalDebt}}</td>
            </tr>
          </tbody>

        </table>
      </div>
      <div class="col-md-6">
        <highchart id="assetClassChart" config="vm.typeChartConfig"></highchart>
      </div>
    </div>
  <br/>
  <br/>
  <div class="row" id="asset-table-controls">
    <div class="col-md-6">
      <span id="asset-label"><h2>Assets</h2></span>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3" id="asset-table-control-buttons">

      <div id="assets-top-menu" class="btn-group btn-group-lg" role="group" aria-label="Button group with nested dropdown">
        <button id="btnGroupDrop-asset-groupby" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Group By <span class="caret"></span></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop-asset-groupby">
          <button class="dropdown-item btn btn-secondary" type="button">Group by Class</button>
          <button class="dropdown-item btn btn-secondary" type="button">Group by Geography</button>
        </div>
      <div class="btn-group btn-group-lg">
        <button id="btnGroupDrop-asset-export" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Export  <span class="caret"></span></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop-asset-export">
          <button class="dropdown-item btn btn-secondary" type="button">Export to CSV</button>
          <button class="dropdown-item btn btn-secondary" type="button">Export to PDF</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <br/>
  <br/>

  <div id="assetGrid" ui-grid="vm.assetGridOptions" ui-grid-grouping ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-auto-resize class="grid"></div>
  <br/>
  <div class="expand-input-button">
      <h3 class="horizontal-divider"><button id="btn-formShowHide" type="button" class="btn btn-primary btn-sm" ng-click="addNew = !addNew"><span class="glyphicon glyphicon-plus"></span></button></h3>
  </div>
  <div class="row" id="asset-input-form">
    <div class="col-md-6">
      <div id="assetInputForm" ng-submit="vm.submitAssets()" ng-hide="addNew">
      <br/>
        <div class="dropdown">Asset type:
          <button class="btn btn-default dropdown-toggle" type="button" id="assetclassdropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{vm.assetEntry.class}}
                <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="assetclassdropdown">
                <li ng-repeat="class in vm.assetclasses"><a ng-click="vm.classSelected(class)">{{class}}</a></li>
            </ul>
        </div>
        <br/>
        <form name="assetInputForm" sf-schema="vm.schema" sf-form="vm.form" sf-model="vm.entity"></form>
        <button class="btn btn-success" ng-click="vm.submitAssets(assetInputForm)">Submit</button>
        <button class="btn btn-danger" ng-click="vm.cancelAssetEntry()">Cancel</button>
        <p>{{vm.assetEntry.class}}</p>
    </div>
    <br/>
    <br/>
  </div>
  </div>

  <div id="debtGrid" ui-grid="vm.debtGridOptions" ui-grid-grouping ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-auto-resize class="grid"></div>
  <br/>
  <br/>
  <div class="row" id="debt-input-form">
    <div class="col-md-6">
      <form name="debtInputForm" sf-schema="vm.debtschema" sf-form="vm.debtform" sf-model="vm.debtentity"></form>
        <button class="btn btn-success" ng-click="vm.submitDebt(debtInputForm)">Submit</button>
        <button class="btn btn-danger" ng-click="vm.cancelDebtEntry()">Cancel</button>
      </div>
    </div>
  </div>
  <br/>
  <br/>
</div>

