<div class="ui-grid-cell-contents actions-column" >
  <button id="portfolioview-grid-edit" class="btn btn-warning btn-sm" value="Edit" ng-if="!grid.appScope.isEmptyString(row.entity.class) && !row.entity.editrow" ng-click="grid.appScope.editRow(grid, row)">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <button id="portfolioview-grid-delete" value="Delete" class="btn btn-danger btn-sm" ng-if="!grid.appScope.isEmptyString(row.entity.class) && !row.entity.editrow" class="button-inline-remove" ng-click="grid.appScope.deleteAsset(row.entity._id, $event)">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>