<div ng-controller="PortfolioEntryCtrl">

  <div ng-init="portfolioEntry.getData()" name="loadPortfolio">
  <h1>Assets</h1>


  <p>
    <table>
      <thead>
        <th>Name/Ticker</th>
        <th># of Units</th>
        <th>Unit Cost</th>
        <th>Date Purchased</th>
        <th>Book Value</th>
        <th></th>
        <th></th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="asset in portfolioEntry.assets track by $index">
          <td>{{asset.assetName}}</td>
          <td>{{asset.units}}</td>
          <td>{{asset.unitCost}}</td>
          <td>{{asset.date_purchased}}</td>
          <td>{{asset.amount}}</td>
          <td></td>
          <td><button ng-click="portfolioEntry.editAsset(asset)" name="editAsset"><span class="glyphicon glyphicon-pencil"></span></button></td>
          <td><button ng-click="portfolioEntry.deleteAsset(asset)" name="deleteAsset"><span class="glyphicon glyphicon-trash"></span></button></td>
          <td><span class="glyphicon glyphicon-move"></span></td>
        </tr>
      <div ng-submit="portfolioEntry.submitAssets()" ng-hide="submitted">
      <tr>
        <td><input type="text" ng-model="portfolioEntry.entry.assetName" name="text"/></td>
        <td><input type="text" ng-model="portfolioEntry.entry.units" name="text" /></td>
        <td><input type="text" ng-model="portfolioEntry.entry.unitCost" name="text" /></td>
        <td><input type="text" ng-model="portfolioEntry.entry.date_purchased" name="text" /></td>
        <td><input type="text" name="text" value="{{portfolioEntry.entry.amount}}"/></td>
        <td></td>
        <td><button class="button-inline-ok" ng-click="submitted = portfolioEntry.submitAssets()" ng-init="submitted=false"/></button></td>
        <td><button ng-click="portfolioEntry.resetEntry()"/><span class="glyphicon glyphicon-remove"></button></td>

      </tr>
      </div>
      </tbody>
    </table>
    </p>

    </div>

    <p>Total Assets: {{portfolioEntry.totalAssets}}</p>
    <br/>
</div>
