<div ng-controller="PortfolioEntryCtrl">

  <div ng-init="getData()" name="loadPortfolio">
  <h1>Assets</h1>

  <div id="assetGrid" ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav class="grid"></div>
  <br>
  <button class="button-add-new" ng-click="addNew = !addNew" value="Add New Entry"></button>
  <div ng-submit="submitAssets()" ng-hide="addNew">
    <table>
    <thead>
-        <th>Name/Ticker</th>
-        <th># of Units</th>
-        <th>Unit Cost</th>
-        <th>Date Purchased</th>
-        <th>Book Value</th>
-        <th></th>
-        <th></th>
-        <th></th>
-      </thead>
-      <tbody>
      <tr>
        <td><input type="text" ng-model="entry.assetName" name="text"/></td>
        <td><input type="text" ng-model="entry.units" name="text" /></td>
        <td><input type="text" ng-model="entry.unitCost" name="text" /></td>
        <td><input type="text" ng-model="entry.date_purchased" name="text" /></td>
        <td><input type="text" name="text" value="{{entry.amount}}"/></td>
        <td></td>
        <td><button class="button-inline-ok" ng-click="submitAssets()"></button></td>
        <td><button class="button-inline-remove" ng-click="resetEntry()"/></button></td>

      </tr>
</tbody>
    </table>
  </div>

    </div>

    <p>Total Assets: ${{totalAssets}}</p>
    <br/>
</div>
